* {
    background-color: rgb(249, 247, 208);
}
h1 {
    color: rgb(243, 20, 20);
    background-image: linear-gradient(to bottom right, yellow , rgb(102, 145, 245));
    font-size: 55px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    box-sizing: border-box;
    height: 151px;
}

.flag {
    display: inline-block;
    margin: 10px;
    position: absolute;
    top: 22.5px;
    left: -1.8px;  
}
 /* Nav Bar Stuff */
.topnav {
    background-color: rgb(90, 138, 200);
    overflow: hidden;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }

.topnav a {
    float: left;
    color: #000b3b;
    text-align: center;
    padding: 14px 145px;
    text-decoration: none;
    font-size: 20px;
    background-color: rgb(90, 138, 200)
  }

.topnav a:hover {
    background-color: #3330e9;
    color: rgb(0, 0, 0);
  }
.pablo1 {
  top:300px;
  left: 150px;
  display: inline-block;
  position: absolute;

}
.para1{
  bottom: 470px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 25px;
  text-align: center;
  top: 325px;
  left: 600px;
  position:absolute;
  right: 200px;
}

.para2 {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 25px;
  text-align: center;
  top: 800px;
  left: 80px;
  position:absolute;
  right: 750px;
}

.cocaine {
  position: relative;
  top: 475px;
  left: 850px;
}
.marijuana {
  position: relative;
  top: 475px;
  left: 700px;
}